<a href="https://colab.research.google.com/github/Daniel-Martinez24/datos-conagua/blob/main/cuenca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preguntas


1.   ¿Cuantas personas trabajan en la cuenca?
2.  ¿Cuantas pertencen al ORGANISMO DE CUENCA LERMA SANTIAGO PACIFIC?

Nota: la posible respuesta de la segunda es 284 segun la revisión rapida

In [1]:
import pandas as pd
import io

In [2]:
# instalar tabula-py libreria para analisis de pdf
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.2.0-py3-none-any.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 220 kB/s
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Collecting distro
  Downloading distro-1.6.0-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.6.0 tabula-py-2.2.0

In [3]:
# link# import tabula
from tabula.io import read_pdf
#the pd is the standard shorthand for pandas
import pandas as pd

In [4]:
pdfCuencua = '/content/drive/MyDrive/proyectos/cuenca/Plantilla del personal.pdf'

In [5]:
# DF es una lista de DF
df = read_pdf(pdfCuencua, multiple_tables=True, pages='all')

# ver la cola del ultimo elemento
df[-1].tail()

    ZEPEDA HERNANDEZ       JOSE LUIS  ...  Unnamed: 0  7  BASE
34  ZURITA   ESTRADA    OSCAR ARTURO  ...         NaN  7  BASE
35  ZURITA  MARTINEZ  MONICA CRISTEL  ...         NaN  7  BASE
36  ZURITA   MENDOZA  VICTOR RICARDO  ...         NaN  7  BASE
37  ZURITA     ROGEL    VICTOR ANGEL  ...         NaN  8  BASE
38     NaN     LOPEZ   JOSE DE JESUS  ...         NaN  7  BASE

[5 rows x 8 columns]